absl-py==0.7.1
asn1crypto==0.24.0
astor==0.8.0
beautifulsoup4==4.7.1
bs4==0.0.1
certifi==2018.11.29
cffi==1.11.5
changes==0.7.0
chardet==3.0.4
Click==7.0
codecov==2.0.15
coverage==4.5.2
cryptography==2.4.2
cursor==1.3.4
cycler==0.10.0
defusedxml==0.5.0
diff-match-patch==20181111
dj-database-url==0.5.0
Django==2.1.3
django-admin-relation-links==0.0.5
django-bower==5.2.0
django-excel==0.0.10
django-excel-response==2.0.3
django-field-permissions==0.1
django-import-export==1.1.0
django-model-changes==0.15
django-mysql==2.4.1
django-nvd3==0.9.7
django-rest-serializer-field-permissions==2.0.0
django-tables2==2.0.3
djangorestframework==3.9.0
et-xmlfile==1.0.1
flake8==3.6.0
Flask==1.1.1
Flask-Cors==3.0.8
future==0.17.1
gast==0.2.2
giturlparse.py==0.0.5
grpcio==1.22.0
h5py==2.9.0
idna==2.7
itsdangerous==1.1.0
jdcal==1.4
Jinja2==2.10.1
joblib==0.13.2
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.0.1
lml==0.0.9
Markdown==3.1.1
MarkupSafe==1.1.0
matplotlib==3.0.3
mccabe==0.6.1
mock==3.0.5
mysql-connector-python==2.0.4
mysqlclient==1.3.13
nose==1.3.7
ntlm-auth==1.3.0
numpy==1.16.1
odfpy==1.4.0
openpyxl==2.4.11
pandas==0.24.1
pandas-profiling==1.4.2
path.py==4.4
pkginfo==1.4.2
plumbum==1.4.2
protobuf==3.9.1
pycodestyle==2.4.0
pycparser==2.19
pyecharts-jupyter-installer==0.0.3
pyexcel==0.5.10
pyexcel-handsontable==0.0.2
pyexcel-io==0.5.11
pyexcel-webio==0.1.4
pyexcel-xls==0.5.8
pyflakes==2.0.0
PyMySQL==0.9.2
pyparsing==2.4.0
pyScss==1.3.5
python-dateutil==2.8.0
python-decouple==3.1
python-magic==0.4.15
python-nvd3==0.14.2
python-slugify==1.1.4
pytz==2018.7
PyYAML==3.13
requests==2.21.0
requests-ntlm==1.1.0
scikit-learn==0.21.2
scipy==1.3.0
seaborn==0.9.0
semantic-version==2.6.0
simplejson==3.16.0
six==1.11.0
sklearn==0.0
soupsieve==1.9.1
tablib==0.12.1
tensorboard==1.12.2
tensorflow==2.5.3
termcolor==1.1.0
texttable==1.5.0
twine==1.3.1
unicodecsv==0.14.1
Unidecode==1.0.23
uritemplate==0.6
urllib3==1.24.1
Werkzeug==0.15.5
xlrd==1.1.0
XlsxWriter==1.1.4
xlwt==1.3.0
