{% extends "admin/base.html" %}
{% load staticfiles %}
{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block content %}
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
</head>
<body>
    <script type="text/javascript">
        var data_from_view = "{{responses_pie}}";
        
        var i;
        var Y = [];
        //  = []
        var final_data=JSON.parse(data_from_view.replace(/&#39;/g,'"'));
        // for(i=0;i<=6;i++)
        // {
        console.log(final_data);
        $(function () {
        $('#chart_container').highcharts({
        chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'Piechart depicting Total Female count vs Maternity Count'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                }

                
            }
            
        }
    },
    showInLegend : true,
    credits: {
                    enabled: false
                },
    series: [{
        name: 'DCI Female Employee Status',
        colorByPoint: true,
        data: final_data
    }]
        });
        });
        // }
    </script>
    <div id="chart_container" style="height: 450px"></div>
</body>
{% endblock %}
{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}
<link rel="stylesheet" href="{% static 'css/admin.css' %}">  
</a></h1>
{% endblock %}