{% extends "admin/base.html" %}
{% load staticfiles%}





{% block head_title_base %}{% if SITE_NAME %}{{ SIE CARE }} | {% endif %}{% block head_title %}{% endblock %}{% endblock %}
{% block extrastyle %}
<style>
body.login{ background-image: url('/static/images/2910.png') !important; }
.login #container { top:200px; }
</style>


{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "static/css/admin-extra.css" %}" />


{% endblock %}



{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('SIE CARE') }}
<link rel="stylesheet" href="{% static 'css/admin.css' %}">  
</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
