
{% load staticfiles%}
{% extends "admin/base_site.html" %}
<!-- {% load staticfiles%} -->

{% block title %}{{ title }} | {{ site_title|default:_('SIE CARE') }}{% endblock %}

<!-- {% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "css/login.css" %}" />{% endblock %} -->


<!-- <!-- {% block extrastyle %} -->
<style>
    #header{ font-size: 100px; background-color: #a67d3d; border-bottom: solid 3px #f5deb3; }
    body.login {
        background-image: url(../images/2910.png);
        background: yellow !important;
    }
</style>
{% endblock %} -->




{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('SIE CARE') }}
<link rel="stylesheet" href="{% static 'css/admin.css' %}">  
</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
